jaeger-client
raven
redis

# Needed so setuptools works see https://github.com/pypa/setuptools/issues/4478
# or we run into:  AttributeError: module 'importlib_metadata' has no attribute 'EntryPoints'
packaging
ordered-set
more_itertools
jaraco.text
importlib_resources
importlib_metadata
tomli
wheel

# ironic driver dep
python-openstackclient
python-ilorest-library>=2.1.0
hpOneView>=4.4.0

python-dracclient>=5.1.0,<8.0.0
# The Redfish hardware type uses the Sushy library
git+https://github.com/sapcc/sushy.git@stable/xena-m3#egg=sushy
# Dell EMC iDRAC sushy OEM extension
git+https://github.com/sapcc/sushy-oem-idrac.git@stable/xena-m3#egg=sushy-oem-idrac

git+https://github.com/sapcc/ironic-inspector@stable/xena-m3#egg=ironic-inspector
git+https://github.com/sapcc/openstack-watcher-middleware.git#egg=watcher-middleware
git+https://github.com/sapcc/openstack-audit-middleware.git@master#egg=audit-middleware
git+https://github.com/sapcc/ptftpd.git#egg=ptftpd
-e git+https://github.com/sapcc/python-agentliveness@master#egg=agentliveness

